.nav .link {
    text-decoration: none;
    color: #5f5e5e;
    font-weight: 700;
}

.nav .link:hover {
    color: #9c0b94;
}

.user {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
}
.navMenu {
    position: absolute;
    top: 100%;
    right: -4px;
    // width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-color: #f0eded;
    padding: 20px;
    justify-content: center;
}
.name_user {
    white-space: nowrap;
}
